<ons-page id="ONSAgendaIK">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            IK depuis l'Agenda
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <form action="" method="post" id="leformAgendaIK" name="leformAgendaIK">
            <ons-row>
                <ons-col>
                    <div class="feedVehicules" id='feedVehiculesPerso'></div>

                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <legend class="translate">Choix de l'agenda</legend>
                        <div class="feedAgendaList" id='feedAgendaList'></div>
                    </fieldset>

                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <legend class="translate">Ville de départ</legend>
                        <ons-list style="clear: both;">
                            <input required name="departAgendaIK" id="departAgendaIK" type="text" placeholder="Ville de départ">
                            <ons-list-item class="listeVille" id="listedepartAgendaIK" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#label">
                                <span class="translate">favorites</span>
                            </ons-list-item>
                        </ons-list>
                    </fieldset>

                    <label for="ladateStart">Date début</label>
                    <ons-input name="ladateStart" id="ladateStart" type="date"></ons-input>

                    <label for="ladateEnd">Date fin</label>
                    <ons-input name="ladateEnd" id="ladateEnd" type="date"></ons-input>

                    &nbsp;

                    <ons-button modifier="material large" onclick="getCal();"><span class="translate">validate</span></ons-button>

                    <div id='feedToAgendaIK'></div>

                </ons-col>
            </ons-row>
        </form>
        <!-- <ons-row>
    <ons-col>
        <ons-button modifier="material large" onclick="rSyncOne(2);">Lancer la synchronisation</ons-button>
    </div>
</div> -->
    </div>
    <script>

        //feedToAgendaIK('#feedToAgendaIK',ladateStart.value,ladateEnd.value);
        $('#departAgendaIK').keyup(function () {
            $('#listedepartAgendaIK').show();
        });

        function selectDepart(ville) {
            $('#listedepartAgendaIK').hide();
            $('#departAgendaIK').val(ville);
        }

        var listCalendarsSuccess = function (message) { myDebug("listCalendarsSuccess: " + JSON.stringify(message)); };
        var listCalendarsError = function (message) { myDebug("listCalendarsError: " + message); };

        function getCal() {
            $('#feedToAgendaIK').empty();

            window.plugins.calendar.hasReadWritePermission(
                function (result) {
                    if (result == false) {
                        window.plugins.calendar.requestReadWritePermission();
                    }
                }
            )

            // if you need to find events in a specific calendar, use this one. All options are currently ignored when finding events, except for the calendarName.
            var calOptions = window.plugins.calendar.getCalendarOptions();
            if (device.platform == "iOS") {
                calOptions.calendarName = $('#chooseAgenda').val(); // iOS only
            }
            if (device.platform == "Android") {
                calOptions.calendarId = $('#chooseAgenda').val(); // if not found, we try matching against title, etc
            }
            // myDebug(JSON.stringify(calOptions));

            showWait();
            window.plugins.calendar.findEventWithOptions(null, null, null, new Date(ladateStart.value), new Date(ladateEnd.value), calOptions, onSuccessAgendaIK, onErrorAgendaIK);
        }

        // function rSyncDeleteConfirm(id) {
        //     ons.notification.confirm("Voulez-vous vraiment supprimer ce document ?", {
        //         title: "Vérification", buttonLabels: ['Non', 'Oui, supprimer'],
        //         callback: function (index) {
        //             if (index == 1) {
        //                 rSyncDelete(id);
        //             }
        //         }
        //     });
        // }
    </script>
</ons-page>