<ons-page id="ONSApropos">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">about</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h2 class="translate">aboutDoliscan</h2>
        &nbsp;
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col>
        <div id='feedAproposCustom'></div>
      </ons-col>
    </ons-row>


    <ons-row>
      <ons-col>
        <hr />
        <p class="translate">Pour plus de détails, consultez le site internet <a href="https://doliscan.fr">https://doliscan.fr</a> ou
          <a onclick="gotoPage('changelog-fr.html');">l'historique des modifications de l'application</a>
        </p>
        <p class="translate">DoliSCAN est développé par CAP-REL<br /><a href="https://doliscan.fr">doliscan.fr</a> || <a href="https://cap-rel.fr">cap-rel.fr</a></p>
      </ons-col>
    </ons-row>


    <div id="feedDoliscanInfos"></div>

  </div>

  <script type="text/javascript">
  </script>
</ons-page>
