<ons-page id="ONSBienvenue5">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      Bienvenue
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <!-- <h1>Mode d'utilisation</h1>

    <p>Veuillez maintenant choisir le mode d'utilisation de doliscan. Deux modes sont proposés, le 1er consiste à prendre une photo de vos justificatifs et c'est tout, un accès à la plate-forme web permettra ensuite de saisie les données indispensables (TVA etc.). Le second mode vous permet de saisir ces données dès que vous prendrez vos justificatifs en photo.</p>

    <ons-button modifier="material large" onclick="localStoreData('configMode','complet');gotoPage('bienvenue-step6.html', true);">Mode complet (préféré)</ons-button> -->

        <!-- <ons-button modifier="material large" onclick="localStoreData('configMode','simple');gotoPage('bienvenue-step6.html', true);">Mode simple</ons-button> -->

      </ons-col>
    </ons-row>
  </div>

  <script type="text/javascript">
  </script>
</ons-page>
