<ons-page id="ONSBienvenue6">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      Bienvenue
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h1>C'est terminé !</h1>

        <p>La configuration initiale est maintenant terminée !</p>

        <ons-button modifier="material large" onclick="localStoreData('configMode','complet');gotoPage('menu.html', true);">Aller au menu principal</ons-button>
      </ons-col>
    </ons-row>
  </div>

  <script type="text/javascript">
  </script>
</ons-page>
