<ons-page id="ONSBienvenue">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      Bienvenue
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h1>Bienvenue - Assistant de 1er démarrage</h1>

        <p>Il semblerait que ça soit votre premier lancement de cette application.</p>
        <p>Veuillez suivre les quelques étapes de configuration ci-dessous.</p>

        <p>Utilisez vous un véhicule personnel dans votre cadre professionnel (Pour la gestion et configuration des Indemnités Kilométriques) ?</p>
        <ons-button modifier="material large" onclick="gotoPage('config-addVehicule.html', true);">Oui</ons-button>
        <ons-button modifier="material large" onclick="gotoPage('bienvenue-step3.html',false, true);">Non</ons-button>
      </ons-col>
    </ons-row>
  </div>

  <script type="text/javascript">
  </script>
</ons-page>
