<ons-page id="ONSBienvenue2">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      Bienvenue
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h1>Véhicule ajouté !</h1>

        <p>Votre véhicule a été ajouté. Voulez-vous ajouter un autre véhicule ?</p>

        <ons-button modifier="material large" onclick="gotoPage('config-addVehicule.html',true);">Oui</ons-button>
        <ons-button modifier="material large" onclick="gotoPage('bienvenue-step3.html', true);">Non</ons-button>
      </ons-col>
    </ons-row>
  </div>

  <script type="text/javascript">
  </script>
</ons-page>
