<ons-page id="changelog">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="center">
            <span style="font-family: Penna,sans-serif;font-size: 200%;"> DoliSCAN </span>
            <!-- <span style="font-weight:normal;">Nouveautés</span> -->
        </div>
    </ons-toolbar>
    <div id=" container">
        <div style="padding: 10px;">
            <h2>Version 1.9 - Octobre 2021</h2>
            <p>Détails de la version 1.8 : <a href="https://www.doliscan.fr/fr/lapplication/version-1-9">doliscan.fr/version-1.9</a></p>

            <h2>Version 1.8 - Septembre 2021</h2>
            <p>Détails de la version 1.8 : <a href="https://www.doliscan.fr/fr/lapplication/version-1-8">doliscan.fr/version-1.8</a></p>


            <h2>Version 1.6 - Mars 2021</h2>
            <p>Détails de la version 1.6 : <a href="https://www.doliscan.fr/fr/lapplication/version-1-6">doliscan.fr/version-1.6</a></p>

            <p>
                <ons-button onclick="hideChangelog('changelog')">Fermer</ons-button>
            </p>
        </div>
    </div>
</ons-page>
