<ons-page id="ONSChoixListe">
    <div id="container">
        <form action="" method="post" id="leformChoixListe" name="leformChoixListe">
            <ons-row>
                <ons-col>
                    <ons-list-title id='title'></ons-list-title>
                    <ons-list id='liste'>
                    </ons-list>
                </ons-col>
            </ons-row>
        </form>
    </div>

    <script type="text/javascript">
        document.addEventListener('init', function (event) {
            var page = event.target;
            $('#title').empty();
            $('#liste').empty();

            //function functionChooseVille(label, slug, uid, fieldVille, fieldVilleSlug, fieldVilleUID, single = false) {

            $('#title').append(page.data.title);
            let html = "";
            for (i = 0; i < page.data.btnNb; i++) {
                html += "<ons-list-item tappable onclick='" + page.data.callFunction + "(\"" + fixedEncodeURIComponent(page.data.btn[i].label) + "\",\"" + page.data.btn[i].slug + "\",\"" + page.data.btn[i].uid + "\",\"" + page.data.btn[i].ville + "\",\"" + page.data.btn[i].villeSlug + "\",\"" + page.data.btn[i].villeUID + "\",false," + page.data.btn[i].callbackfunction + "," + JSON.stringify(page.data.btn[i].callbackargs) + ")'>" + page.data.btn[i].label + "</ons-list-item>";
            }
            $('#liste').append(html);
        });
    </script>
</ons-page>
