<ons-page id="ONSVATConfig">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">vatConfig</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <form action="" method="post" id="leformVAT" name="leformVAT">
            <ons-row>
                <ons-col>
                    <h1 class="translate">vatConfig</h1>

                    <p class="translate">vatIntroMessage</p>

                    <div id="interobjetsDouble"></div>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">vatRate1</legend>
                        <span class="input-percent right">
                            <input name="compta_tva_tx1" id="compta_tva_tx1" type="number" step="any" inputmode="decimal" placeholder="" min="0">
                        </span>
                    </div>

                    <div id="interobjetsDouble"></div>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">vatRate2</legend>
                        <span class="input-percent right">
                            <input name="compta_tva_tx2" id="compta_tva_tx2" type="number" step="any" inputmode="decimal" placeholder="" min="0">
                        </span>
                    </div>

                    <div id="interobjetsDouble"></div>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">vatRate3</legend>
                        <span class="input-percent right">
                            <input name="compta_tva_tx3" id="compta_tva_tx3" type="number" step="any" inputmode="decimal" placeholder="" min="0">
                        </span>
                    </div>

                    <div id="interobjetsDouble"></div>
                    <div style="display: flex; align-items: center;">
                        <legend class="translate">vatRate4</legend>
                        <span class="input-percent right">
                            <input name="compta_tva_tx4" id="compta_tva_tx4" type="number" step="any" inputmode="decimal" placeholder="" min="0">
                        </span>
                    </div>

                    <div id="interobjetsDouble"></div>
                    <label for="currency" class="translate">currency</label>
                    <ons-input name="currency" id="currency" type="text" placeholder="€" required></ons-input>

                    <div id="interobjetsDouble"></div>
                    <ons-button modifier="material large" onclick="checkForm('leformVAT');" class="menubutton">
                        <ons-icon icon="md-floppy"></ons-icon>
                        <span class="menulabel translate">save</span>
                    </ons-button>
                </ons-col>
            </ons-row>
        </form>
    </div>
    <script type="text/javascript">
        configKeys = ['compta_tva_tx1', 'compta_tva_tx2', 'compta_tva_tx3', 'compta_tva_tx4', 'currency'];

        function checkForm(leform) {
            let error = 0;
            let objForm = document.getElementById(leform);
            for (let key of configKeys) {
                let v = objForm.elements[key].value
                let vv = parseFloat(v.replace(",", "."));
                if(vv < 0 || vv > 50) {
                    error = 1;
                }
            }
            //cas particulier pour la monnaie
            document.querySelector(':root').style.setProperty('--currency',"'"+$('#currency').val()+"'");

            if(error == 1) {
                ons.notification.alert("Valeur incorrecte, un taux de TVA doit être > 0 et < 50 ...", { title: "Attention" });
            }
            else {
                saveUserAccount();
            }
        }

        function saveUserAccount() {
            //Si le formulaire est valide on sauvegarde les données
            for (let key of configKeys) {
                // myDebug("On cherche " + key);
                localStoreData(key, $('#' + key).val());
            }
            //cas particulier pour currency
            localStoreData('currency', $('#currency').val());

            //On pousse les modifications sur le serveur
            showWait();
            updateServerUserFromLocal();
        }

    </script>
</ons-page>