<ons-page id="ONSExportCompta">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">exportCompta</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <form action="" method="post" id="leformcompta" name="leformcompta">
            <ons-row>
                <ons-col>
                    <h2 class="translate">exportComptaConfig</h2>

                    <!-- Pour chaque type de frais on demande le code comptable a y associer -->
                    <p class="translate">exportComptaInfo</p>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="compta_email" class="translate">emailAccountantContact</label>
                    <input name="compta_email" id="compta_email" type="email" placeholder="" value="">

                    <label for="compta_ik" class="translate">ik</label>
                    <input name="compta_ik" id="compta_ik" type="number" value="625100" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_peage" class="translate">parkingOrToll</label>
                    <input name="compta_peage" id="compta_peage" type="number" value="625100" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_hotel" class="translate">hotel</label>
                    <input name="compta_hotel" id="compta_hotel" type="number" value="625600" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_train" class="translate">trainAndPlane</label>
                    <input name="compta_train" id="compta_train" type="number" value="625100" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_restauration" class="translate">food</label>
                    <input name="compta_restauration" id="compta_restauration" type="number" value="625700" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_carburant" class="translate">gas</label>
                    <input name="compta_carburant" id="compta_carburant" type="number" value="606100" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_taxi" class="translate">taxi</label>
                    <input name="compta_taxi" id="compta_taxi" type="number" value="625100" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_divers" class="translate">others</label>
                    <input name="compta_divers" id="compta_divers" type="number" value="471" min="0">

                    <div id="interobjets"></div>
                    <label for="compta_compteperso" class="translate">personalAccount</label>
                    <input name="compta_compteperso" id="compta_compteperso" type="number" value="421000" min="0">


                    <div id="interobjets"></div>
                    <label for="compta_tvadeductible" class="translate">vatDeduc</label>
                    <input name="compta_tvadeductible" id="compta_tvadeductible" type="number" value="445660" min="0">
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-button modifier="material large" onclick="checkForm('leformcompta');"><span class="translate">save</span></ons-button>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    &nbsp;
                    <ons-button modifier="material large" onclick="gotoPage('config.html', false)"><span class="translate">back</span></ons-button>
                </ons-col>
            </ons-row>
        </form>
    </div>
    <script type="text/javascript">
        configKeys = ['compta_email', 'compta_ik', 'compta_peage', 'compta_hotel', 'compta_train', 'compta_carburant', 'compta_taxi', 'compta_restauration', 'compta_divers', 'compta_compteperso', 'compta_tvadeductible'];

        function checkForm(leform) {
            // myDebug("exportCompta checkForm 1");
            if ($("#leformcompta").valid()) {
                //Si le formulaire est valide on sauvegarde les données
                for (let key of configKeys) {
                    // myDebug("On cherche " + key);
                    if (localGetData("nom") !== null) {
                        localStoreData(key, $('#' + key).val());
                    }
                }

                //Puis on envoie tout ça sur le serveur
                showWait();
                updateServerUserFromLocal();
            }
            // myDebug("apres le valid");
        }


    </script>
</ons-page>
