<ons-page id="ONSConfigAddVehicule">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">addPersonalVehicle</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformAddVehicule" name="leformAddVehicule">
      <ons-row>
        <ons-col>
          <h1 class="translate">addPersonalVehicle</h1>
          <p class="translate">personalVehicleNote</p>
          <label for="nom" class="translate">vehicleName</label>
          <ons-input name="nom" id="nom" type="text" placeholder="Nom de votre véhicule" required></ons-input>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <label for="immat" class="translate">numberplate</label>
          <ons-input name="immat" id="immat" type="text" placeholder="Immatriculation"></ons-input>
        </ons-col>
      </ons-row>

      <input type="hidden" name="energievalue" id="energievalue" value="">
      <input type="hidden" name="uuid" id="uuid" value="">
      <input type="hidden" name="puissancevalue" id="puissancevalue" value="">
      <input type="hidden" name="typevalue" id="typevalue" value="">

      <ons-row>
        <ons-col>
          <ons-list>
            <ons-list-item tappable expandable id="energie-list">
              <div id="energie" class="translate">carEnergy</div>
              <div class="expandable-content">
                <ons-list>
                  <ons-list-item onclick="switchEnergie('essence','Essence');" tappable><span class="translate">carEssence</span></ons-list-item>
                  <ons-list-item onclick="switchEnergie('diesel','Diesel');" tappable><span class="translate">carDiesel</span></ons-list-item>
                  <ons-list-item onclick="switchEnergie('electrique','Electrique');" tappable><span class="translate">carElec</span></ons-list-item>
                </ons-list>
              </div>
            </ons-list-item>
          </ons-list>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <ons-list>
            <ons-list-item tappable expandable id="puissance-list">
              <div id="puissance" class="translate">carPower</div>
              <div class="expandable-content">
                <ons-list>
                  <ons-list-item onclick="switchPuissance('1cv','1 CV');" tappable>1CV</ons-list-item>
                  <ons-list-item onclick="switchPuissance('2cv','2 CV');" tappable>2CV</ons-list-item>
                  <ons-list-item onclick="switchPuissance('3cv','3 CV');" tappable>3CV</ons-list-item>
                  <ons-list-item onclick="switchPuissance('4cv','4 CV');" tappable>4CV</ons-list-item>
                  <ons-list-item onclick="switchPuissance('5cv','5 CV');" tappable>5CV</ons-list-item>
                  <ons-list-item onclick="switchPuissance('6cv','6 CV');" tappable>6CV</ons-list-item>
                  <ons-list-item onclick="switchPuissance('7cv','7 CV');" tappable>7CV et plus</ons-list-item>
                </ons-list>
              </div>
            </ons-list-item>
          </ons-list>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <ons-list>
            <ons-list-item tappable expandable id="type-list">
              <div id="type" class="translate">carClass</div>
              <div class="expandable-content">
                <ons-list>
                  <ons-list-item onclick="switchType('vp','VP (Particulier)');" tappable class=""><span class="translate">carVP</span></ons-list-item>
                  <ons-list-item onclick="switchType('vu','VU (Utilitaire ou commerciale)');" tappable class=""><span class="translate">carVU</span></ons-list-item>
                  <ons-list-item onclick="switchType('n1','PickUp etc.');" tappable class=""><span class="translate">carPickUp</span></ons-list-item>
                  <ons-list-item onclick="switchType('moto','Deux roues + de 50cc.');" tappable class=""><span class="translate">motoMore50</span></ons-list-item>
                  <ons-list-item onclick="switchType('cyclo','Deux roues - de 50cc.');" tappable class=""><span class="translate">motoLess50</span></ons-list-item>
                </ons-list>
              </div>
            </ons-list-item>
          </ons-list>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <label for="kmbefore" class="translate">personalVehicleKMBefore</label>
          <ons-input name="kmbefore" id="kmbefore" type="number" placeholder="km" min="0"></ons-input>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <ons-button modifier="material large" onclick="checkForm('leformAddVehicule');"><span class="translate">vehicleAdd</span></ons-button>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <!-- <ons-button class="submit" type="submit" value="Ajouter"></ons-button> -->
          &nbsp;
          <ons-button modifier="material large" onclick="closePage();"><span class="translate">back</span></ons-button>
        </ons-col>
      </ons-row>
    </form>
  </div>

  <script type="text/javascript">
    // ons.ready(function () {
    // translateUI();
    // });

    //En attendant de trouver comment faire marcher OnsenUI + validate.js
    function checkForm(leform) {
      if (genericCheckForm(leform)) {
        if ($("#leformAddVehicule").valid()) {
          // myDebug("addVehicule on passe dans le validate");
          let nom = document.getElementById('nom').value;
          let energie = document.getElementById('energievalue').value;
          let puissance = document.getElementById('puissancevalue').value;
          let type = document.getElementById('typevalue').value;
          let kmbefore = document.getElementById('kmbefore').value;
          let immat = document.getElementById('immat').value;
          let uuid = document.getElementById('uuid').value;
          localStoreData('globalLastVehiculeCheck',Date.now());
          
          addVehicule("vehicules", nom, energie, puissance, type, kmbefore, immat, uuid).then(
            ons.notification.alert("Véhicule ajouté.", { title: "Information" }).then(
              function () {
                closePage(true);
                syncVehiculesWithServer();
              }
            )
          );

        }
      }
    }

  </script>
</ons-page>
