<ons-page id="ONSConfigEdVehicule">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">updateVehicle</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <form action="" method="post" id="leformEdVehicule" name="leformEdVehicule">
            <ons-row>
                <ons-col>
                    <h1 class="translate">updateVehicle</h1>
                    <label for="nom" class="translate">vehicleName</label>
                    <ons-input name="nom" id="nom" type="text" placeholder="Nom de votre véhicule" required></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="immat" class="translate">numberplate</label>
                    <ons-input name="immat" id="immat" type="text" placeholder="Immatriculation"></ons-input>
                </ons-col>
            </ons-row>

            <input type="hidden" name="uuid" id="uuid" value="">
            <input type="hidden" name="vehiculeid" id="vehiculeid" value="">
            <input type="hidden" name="proouperso" id="proouperso" value="">
            <input type="hidden" name="energievalue" id="energievalue" value="">
            <input type="hidden" name="puissancevalue" id="puissancevalue" value="">
            <input type="hidden" name="typevalue" id="typevalue" value="">

            <ons-row>
                <ons-col>
                    <ons-list>
                        <ons-list-item tappable expandable id="energie-list">
                            <div id="energie" class="translate">carEnergy</div>
                            <div class="expandable-content">
                                <ons-list>
                                    <ons-list-item onclick="switchEnergie('essence','Essence');" tappable><span class="translate">carEssence</span></ons-list-item>
                                    <ons-list-item onclick="switchEnergie('diesel','Diesel');" tappable><span class="translate">carDiesel</span></ons-list-item>
                                    <ons-list-item onclick="switchEnergie('electrique','Electrique');" tappable><span class="translate">carElec</span></ons-list-item>
                                </ons-list>
                            </div>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-list>
                        <ons-list-item tappable expandable id="puissance-list">
                            <div id="puissance" class="translate" class="translate">carPower</div>
                            <div class="expandable-content">
                                <ons-list>
                                    <ons-list-item onclick="switchPuissance('1cv','1 CV');" tappable>1CV</ons-list-item>
                                    <ons-list-item onclick="switchPuissance('2cv','2 CV');" tappable>2CV</ons-list-item>
                                    <ons-list-item onclick="switchPuissance('3cv','3 CV');" tappable>3CV</ons-list-item>
                                    <ons-list-item onclick="switchPuissance('4cv','4 CV');" tappable>4CV</ons-list-item>
                                    <ons-list-item onclick="switchPuissance('5cv','5 CV');" tappable>5CV</ons-list-item>
                                    <ons-list-item onclick="switchPuissance('6cv','6 CV');" tappable>6CV</ons-list-item>
                                    <ons-list-item onclick="switchPuissance('7cv','7 CV');" tappable>7CV et plus</ons-list-item>
                                </ons-list>
                            </div>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-list>
                        <ons-list-item tappable expandable id="type-list">
                            <div id="type" class="translate">carClass</div>
                            <div class="expandable-content">
                                <ons-list>
                                    <ons-list-item onclick="switchType('vp','VP (Particulier)');" tappable class=""><span class="translate">carVP</span></ons-list-item>
                                    <ons-list-item onclick="switchType('vu','VU (Utilitaire ou commerciale)');" tappable class=""><span class="translate">carVU</span></ons-list-item>
                                    <ons-list-item onclick="switchType('n1','PickUp etc.');" tappable class=""><span class="translate">carPickUp</span></ons-list-item>
                                    <ons-list-item onclick="switchType('moto','Deux roues + de 50cc.');" tappable class=""><span class="translate">motoMore50</span></ons-list-item>
                                    <ons-list-item onclick="switchType('cyclo','Deux roues - de 50cc.');" tappable class=""><span class="translate">motoLess50</span></ons-list-item>
                                </ons-list>
                            </div>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
            </ons-row>

            <div class="feedKMBefore" id='feedKMBefore'></div>

            <ons-row>
                <ons-col>
                    <ons-button modifier="material large" onclick="checkForm('leformEdVehicule');"><span class="translate">save</span></ons-button>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <!-- <ons-button class="submit" type="submit" value="Ajouter"></ons-button> -->
                    &nbsp;
                    <ons-button modifier="material large" onclick="closePage();"><span class="translate">back</span></ons-button>
                </ons-col>
            </ons-row>
        </form>
    </div>

    <script type="text/javascript">
        //Casse la mise en page
        // ons.ready(function () {
        //     translateUI();
        // });
        document.addEventListener('init', function (event) {
            let lapage = event.target.id; //;event.target.pushedOptions.page;
            if (lapage == "ONSConfigEdVehicule") {

                if (globalVehiculeEd.storageKey == "vehicules") {
                    feedKMBefore(false);
                }
                else {
                    feedKMBefore(true);
                }

                let v = localGetData(globalVehiculeEd.storageKey);
                if (v == null) {
                    return;
                }
                vehicules = JSON.parse(v);
                let i = globalVehiculeEd.id;
                let vA = vehicules[i]['nom'];
                let vE = vehicules[i]['energie'];
                let vP = vehicules[i]['puissance'];
                let vT = vehicules[i]['type'];
                let vKM = vehicules[i]['kmbefore'];
                let vIMMAT = vehicules[i]['immat'];
                let vUUID = vehicules[i]['uuid'];

                $('#nom').val(vA);
                $('#vehiculeid').val(globalVehiculeEd.id);
                $('#proouperso').val(globalVehiculeEd.storageKey);

                switchEnergie(vE, vE);
                switchPuissance(vP, vP);
                switchType(vT, vT);

                $('#kmbefore').val(vKM);
                $('#immat').val(vIMMAT);
                $('#uuid').val(vUUID);
            }
        });

        //En attendant de trouver comment faire marcher OnsenUI + validate.js
        function checkForm(leform) {
            if (genericCheckForm(leform)) {
                if ($("#leformEdVehicule").valid()) {
                    // myDebug("edVehicule on passe dans le validate");
                    let id = document.getElementById('vehiculeid').value;
                    let proouperso = document.getElementById('proouperso').value;
                    let nom = document.getElementById('nom').value;
                    let energie = document.getElementById('energievalue').value;
                    let puissance = document.getElementById('puissancevalue').value;
                    let type = document.getElementById('typevalue').value;
                    let kmbefore = document.getElementById('kmbefore').value;
                    let immat = document.getElementById('immat').value;
                    let uuid = document.getElementById('uuid').value;

                    updateVehicule(proouperso, id, nom, energie, puissance, type, kmbefore, immat, uuid).then(
                        ons.notification.alert(trans("Véhicule mis à jour."), { title: trans("Information") }).then(
                            function () {
                                closePage(true);
                                syncVehiculesWithServer();
                            }
                        )

                    );

                }
            }
        }

    </script>
</ons-page>