<ons-page id="ONSConfig">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">configuration</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-pull-hook id="pull-hook" class="translate">refresh</ons-pull-hook>

  <div id="container">
    <ons-row>
      <ons-col>
        <h4 class="translate">myOwnVehicle</h4>
        <div id='feedVehiculesConfig'></div>
        <ons-button modifier="material large" onclick="gotoPage('config-addVehicule.html', false);"><span class="translate">addPersonalVehicle</span></ons-button>
        <br />
        <h4 class="translate">myCompanyVehicle</h4>
        <div id='feedVehiculesProConfig'></div>
        <ons-button modifier="material large" onclick="gotoPage('config-addVehiculePro.html', false);"><span class="translate">addCompanyVehicle</span></ons-button>
      </ons-col>
    </ons-row>

    <!-- <ons-row>
  <ons-col>
    <h4>Saisie automatique des villes</h4>
    <p>Si vous voulez importer la liste des principales villes de France ...</p>
    <ons-button modifier="material large" onclick="jeuEssaiVilles();">Importer la liste des villes</ons-button>
  </div>
</div> -->

    <!-- <ons-row>
    <ons-col>
      <h4>Export vers la compta</h4>
      <ons-button modifier="material large" onclick="gotoPage('config-exportCompta.html',false);">Format d'export comptable</ons-button>
    </div>
  </div> -->
  </div>
  <script type="text/javascript">
  </script>
</ons-page>
