<ons-page id="ONSDetailsLDF">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">details</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="interobjets"></div>
  <div id="container">
    <ons-row>
      <ons-col>
        <h2><span class="translate">Détail: frais n°</span><span id="ldfId">#</span></h2>
      </ons-col>
    </ons-row>
    <div id="interobjets"></div>
    <ons-row>
      <ons-col>
        <div id="contenuLDF">
        </div>
      </ons-col>
    </ons-row>
    <div id="interobjets"></div>
    <ons-row>
      <ons-col>
        <div id="contenuLDFImage">
          <img id="imageZoomable" onclick="showImageDialog();" src="img/logo.png" style="max-width:400px; max-height:400px;">
        </div>
      </ons-col>
    </ons-row>

  </div>

  <script type="text/javascript">
    var showImageDialog = function () {
      var imageDialog = document.getElementById('dialog-image');
      if (imageDialog) {
        $("#imageZoomable2").attr("src", $("#imageZoomable").attr("src"));
        //On accroche le pinchZoom sur cet objet
        const pinchZoom = document.querySelector('.my-pinch-zoom');
        imageDialog.show();
      } else {
        ons.createElement('dialogs/dialog-image.html', { append: true })
          .then(function (imageDialog) {
            $("#imageZoomable2").attr("src", $("#imageZoomable").attr("src"));
            //On accroche le pinchZoom sur cet objet
            const pinchZoom = document.querySelector('.my-pinch-zoom');
            imageDialog.show();
          });
      }
    };

    var hideDialog = function (id) {
      document
        .getElementById(id)
        .hide();
    };

    function askDoubleCheckForDelete() {
      ons.notification.confirm(trans("questionBeforeDelete"), {
        title: "warning", buttonLabels: [trans('no'), trans('yesDelete')],
        callback: function (index) {
          if (index == 1) {

            showWait();
            if (ajaxDelete)
              ajaxDelete.abort();

            var ajaxDelete = $.ajax({

              url: localGetData("api_server") + "/api/LdeFrais/" + localGetData("ldfId"),
              timeout: 5000,
              type: "DELETE",
              beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + localGetData("api_token"));
              },
              xhrFields: {
                withCredentials: true
              },
              success: function (result, textStatus, request) {
                globalNetworkResponse = Date.now();
                hideWait();
                myDebug("Request DELETE finished (success signal) : " + textStatus + '(' + result.length + ')');
                myDebug("Request DELETE status (success signal) : " + request.status);
                if (request.status == "200") {
                  ons.notification.alert(trans("documentDeleted"), { title: trans("done") }).then(function () { closePage(true); });
                  // gotoPage('details.html', false);
                }
                else {
                  ons.notification.alert(trans("errorPleaseTryAgainLater"), { title: trans("error") }).then(function () { closePage(true); });
                  // gotoPage('details.html', false);
                }
              },
              error: function (result) {
                hideWait();
                ons.notification.alert(trans("errorPleaseTryAgainLater"), { title: trans("error") }).then(function () { closePage(true); });
              }
            });
          }
        }
      });
    }

  </script>
</ons-page>