<ons-page id="ONSDetails">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">expenseReport</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h2 id="ndfLabel"></h2>
        &nbsp;
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col>
        <ons-list-title class="translate">expenseReportDetails</ons-list-title>
        <ons-list>
          <ons-list-header id="contenuNDFS" modifier="inset"></ons-list-header>
        </ons-list>
      </ons-col>
    </ons-row>


    <ons-row>
      <ons-col>
        <div id="download">
          <ons-button modifier="material large" onclick="downloadPDF();"><span class="translate">downloadPDF</span></ons-button>
          <ons-button modifier="material large" onclick="downloadDetailsPDF();"><span class="translate">downloadPDFdocuments</span></ons-button>
        </div>
        <div id="downloadArea">
        </div>
      </ons-col>
    </ons-row>
  </div>



  <script type="text/javascript">
    function downloadPDF() {
      showWait();
      var ficURI = localGetData("api_server") + "/api/NdeFraisPDF/" + localGetData("ndfId");

      if (ajaxDownloadPDF)
        ajaxDownloadPDF.abort();

      var ajaxDownloadPDF = $.ajax({
        url: ficURI,
        timeout: 5000,
        type: "GET",
        beforeSend: function (xhr) {
          xhr.setRequestHeader('Authorization', 'Bearer ' + localGetData("api_token"));
        },
        xhrFields: {
          responseType: 'blob',
          withCredentials: true
        },
        success: function (dataPDF) {
          globalNetworkResponse = Date.now();
          hideWait();

          $('#downloadArea').empty();
          let blob = new Blob([dataPDF], { type: "application/pdf" });
          let pdfFileName = 'doliscan.pdf';// + + localGetData("ndfId") + '-' + localGetData("ndfLabel").replace(" ", "-") + '.pdf';
          // myDebug(blob.size);

          window.resolveLocalFileSystemURL(cordova.file.cacheDirectory, function (directoryEntry) {
            // the 'temp.pdf' is the name you want for your file.
            directoryEntry.getFile(pdfFileName, { create: true }, function (fileEntry) {
              fileEntry.createWriter(function (fileWriter) {
                fileWriter.onwriteend = function (e) {
                  // great success!
                  // myDebug('Write of file completed.');
                  // myDebug(fileEntry.fullPath);
                  // myDebug(fileEntry);
                  cordova.plugins.fileOpener2.open(
                    cordova.file.cacheDirectory + fileEntry.fullPath,
                    'application/pdf',
                    {
                      error: function (e) {
                        // myDebug('Error status: ' + e.status + ' - Error message: ' + e.message);
                      },
                      success: function () {
                        // myDebug('file opened successfully');
                      }
                    }
                  );
                };

                fileWriter.onerror = function (e) {
                  // Meh - fail
                  // myDebug('Write failed');
                };

                fileWriter.write(dataPDF);
              });
            });
          });


          //Ancienne méthode qui ne marche plus
          // var url = window.URL.createObjectURL(blob);
          // var $a = $('<a />', {
          //   'href': url,
          //   'download': pdfFileName,
          //   'text': "Cliquez sur ce lien pour Télécharger le PDF (étape 2)"
          // }).appendTo($('#downloadArea'));
        },
        error: function (result) {
          hideWait();
          alert('Erreur de téléchargement ...');
        }
      });
    }

    function downloadDetailsPDF() {
      showWait();
      var ficURI = localGetData("api_server") + "/api/NdeFraisDetailsPDF/" + localGetData("ndfId");

      if (ajaxDownload)
        ajaxDownload.abort();

      var ajaxDownload = $.ajax({
        url: ficURI,
        timeout: 5000,
        type: "GET",
        beforeSend: function (xhr) {
          xhr.setRequestHeader('Authorization', 'Bearer ' + localGetData("api_token"));
        },
        xhrFields: {
          responseType: 'arraybuffer',
          withCredentials: true
        },
        success: function (dataPDF) {
          globalNetworkResponse = Date.now();
          hideWait();

          $('#downloadArea').empty();
          let blob = new Blob([dataPDF], { type: "application/pdf" });
          let pdfFileName = 'doliscan-justificatifs.pdf';
          // myDebug(blob.size);

          // cordova.file.etc is where you will save the file. In this case, inside the app folder, in the main storage in Android
          window.resolveLocalFileSystemURL(cordova.file.cacheDirectory, function (directoryEntry) {
            // the 'temp.pdf' is the name you want for your file.
            directoryEntry.getFile(pdfFileName, { create: true }, function (fileEntry) {
              fileEntry.createWriter(function (fileWriter) {
                fileWriter.onwriteend = function (e) {
                  // great success!
                  // myDebug('Write of file completed.');
                  // myDebug(fileEntry.fullPath);
                  // myDebug(fileEntry);
                  cordova.plugins.fileOpener2.open(
                    cordova.file.cacheDirectory + fileEntry.fullPath,
                    'application/pdf',
                    {
                      error: function (e) {
                        // myDebug('Error status: ' + e.status + ' - Error message: ' + e.message);
                      },
                      success: function () {
                        // myDebug('file opened successfully');
                      }
                    }
                  );
                };

                fileWriter.onerror = function (e) {
                  // Meh - fail
                  // myDebug('Write failed');
                };

                fileWriter.write(dataPDF);
              });
            });
          });

          /* Ancienne méthode
           * var url = window.URL.createObjectURL(new Blob([dataPDF], { type: "application/pdf" }))
           * var $a = $('<a />', {
           *  'href': url,
           *  'download': 'doliscan-' + + localGetData("ndfId") + '-' + localGetData("ndfLabel").replace(" ", "-") + '-justificatifs.pdf',
           *  'text': "click"
           * }).hide().appendTo($('#download'))[0].click();
          */
        },
        error: function (result) {
          hideWait();
          //pas trop grave pour l'image :)
          //alert('error');
        }
      });
    }
  </script>
</ons-page>
