<ons-page id="ONSFraisHotel">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">hotel</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformHotel" name="leformHotel">
      <input type="hidden" name="typeFrais" value="hotel">
      <input type="hidden" id="updateID" name="updateID" value="0">
      <input type="hidden" id="photoFacturette" name="photoFacturette" value="">
      <ons-row vertical-align="baseline" id="displayDocument">
        <ons-col>
          <div id="contenuLDFImage">
            <img id="smallImage" src="img/camera-photo.png" onclick="capturePhotoEdit();" />
          </div>
        </ons-col>
        <ons-col>
          <div id="contenuLDFPDF">
            <img id="smallPDF" src="img/pdf.png" onclick="importLocalFileFromPhone();" />
          </div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">date</legend>
            <ons-input name="ladate" id="ladate" type="date"></ons-input>
          </fieldset>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseObject</legend>

            <span class="deleteicon">
              <ons-input required modifier="underbar" float name="label" id="label" type="text" placeholder="" value="Hôtel "></ons-input>
              <span class="deleteicon2" onclick="label.value='';label.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
            </span>
            <ons-list style="clear: both;">
              <ons-list-item id="listeObjets" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#label">
                <span class="translate">favorites</span>
              </ons-list-item>
            </ons-list>
          </fieldset>

          <div id='feedTags'></div>

          <div id='feedPaiements'></div>

          <div id="interobjets"></div>
          <!-- La TVA n'est pas récupérable sur les notes d'hôtel -->
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseAmount</legend>
            <div style="display: flex; align-items: center;">
              <legend class="translate">expenseTaxIncluded</legend>
              <span class="input-euro right">
                <input name="ttc" id="ttc" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>
          </fieldset>

          <!-- <label for="ttc">Dont restauration</label>
      <input name="ttc" id="ttcResto" type="number" step="any" inputmode="decimal"  placeholder="Restauration TTC" min="0"> -->


          <div id="interobjetsDouble"></div>
          <ons-button modifier="material large" onclick="checkForm('leformHotel');"><span class="translate">validate</span></ons-button>
        </ons-col>
      </ons-row>
    </form>
  </div>

  <script type="text/javascript">
    function checkForm(leform) {
      if (genericCheckForm(leform)) {
        let objForm = document.getElementById(leform);
        addLocalStorageEntry('objetsHotel', objForm.elements['label'].value);
        sendForm(leform);
      }
    }
  </script>
</ons-page>