<ons-page id="ONSFraisTrain">
    <ons-toolbar modifier="material" static="true">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            Tests de mise en page
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <form action="" method="post" id="leformTests" name="leformTests">
            <input type="hidden" name="typeFrais" value="train">
            <input type="hidden" id="updateID" name="updateID" value="0">
            <input type="hidden" id="photoFacturette" name="photoFacturette" value="">
            <ons-row style="border-bottom: 2px solid grey;">
                <ons-col width="50%">
                    <div id="contenuLDFImage">
                        <img id="smallImage" style="max-height: 50px;" src="img/camera-photo.png" onclick="capturePhotoEdit();" />
                    </div>
                </ons-col>
                <ons-col width="10%" vertical-align="bottom" style="text-align: center;">
                    <ons-icon icon="md-check" style="color: darkgreen" size="3x"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="border-bottom: 2px solid grey;">
                <ons-col width="90%">
                    <label for="ladate" class="translate">Date : </label>
                    <ons-input name="ladate" id="ladate" type="date"></ons-input>
                </ons-col>
                <ons-col width="10%" vertical-align="bottom" style="text-align: center;">
                    <ons-icon icon="md-check" style="color: darkgreen" size="3x"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="border-bottom: 2px solid grey;">
                <ons-col width="90%">
                    <div id='feedPaiements'></div>
                </ons-col>
                <ons-col width="10%" vertical-align="bottom" style="text-align: center;">
                    <ons-icon icon="md-check" size="3x"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="border-bottom: 2px solid grey;">
                <ons-col width="90%">

                    <div class="has-float-label">
                        <input name="ttc" id="ttc" type="number" step="any" inputmode="decimal" placeholder="Montant TTC" min="0">
                        <span>Montant TTC</span>
                    </div>

                    <!-- <ons-input name="ttc" id="ttc"  type="number" step="any" inputmode="decimal" placeholder="" value="" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </ons-input> -->

                    <!-- "pas de tva" sur les transports -->
                    <!-- <label for="ttc">TTC</label>
                    <input name="ttc" id="ttc" type="number" step="any" inputmode="decimal" placeholder="Montant TTC"> -->
                </ons-col>
                <ons-col width="10%" vertical-align="bottom" style="text-align: center;">
                    <ons-icon icon="md-check" size="3x"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="border-bottom: 2px solid grey;">
                <ons-col width="90%">
                    <div class="has-float-label">
                        <input required name="label" id="label" style="width: 100%; float: unset; margin-bottom: 0px; padding-bottom: 0px;" type="text" placeholder="Restaurant avec ">
                        <span>Raison de la dépense</span>
                    </div>
                    <br />
                    <ons-list style="clear: both;">
                        <ons-list-item id="listeObjets" expandable style="float: right; margin-top: -10px;" data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#label">
                            <span class="translate">favorites</span>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
                <ons-col width="10%" vertical-align="bottom" style="text-align: center;">
                    <ons-icon icon="md-check" size="3x"></ons-icon>
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 20px">
                <ons-button modifier="material large" onclick="checkForm('leformTests');"><span class="translate">validate</span></ons-button>
            </ons-row>
        </form>
    </div>
    <script type="text/javascript">
        function checkForm(leform) {
            if (genericCheckForm(leform)) {
                let objForm = document.getElementById(leform);
                addLocalStorageEntry('objetsTrain', objForm.elements['label'].value);
                sendForm(leform);
            }
        }

    </script>
</ons-page>
