<ons-page id="ONSFraisDivers">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">others</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformDivers" name="leformDivers">
      <input type="hidden" name="typeFrais" value="divers">
      <input type="hidden" id="updateID" name="updateID" value="0">
      <input type="hidden" id="photoFacturette" name="photoFacturette" value="">
      <ons-row vertical-align="baseline" id="displayDocument">
        <ons-col>
          <div id="contenuLDFImage">
            <img id="smallImage" src="img/camera-photo.png" onclick="capturePhotoEdit();" />
          </div>
        </ons-col>
        <ons-col>
          <div id="contenuLDFPDF">
            <img id="smallPDF" src="img/pdf.png" onclick="importLocalFileFromPhone();" />
          </div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">date</legend>
            <ons-input name="ladate" id="ladate" type="date"></ons-input>
          </fieldset>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseObject</legend>

            <span class="deleteicon">
              <ons-input required modifier="underbar" float name="label" id="label" type="text" placeholder="" value=""></ons-input>
              <span class="deleteicon2" onclick="label.value='';label.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
            </span>
            <ons-list style="clear: both;">
              <ons-list-item id="listeObjets" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#label">
                <span class="translate">favorites</span>
              </ons-list-item>
            </ons-list>
          </fieldset>

          <div id='feedTags'></div>

          <div id='feedPaiements'></div>

          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseAmount</legend>

            <div style="display: flex; align-items: center;">
              <legend class="translate">expenseTaxIncluded</legend>
              <span class="input-euro right">
                <input name="ttc" id="ttc" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>

            <div id="interobjets"></div>
            <div style="display: flex; align-items: center;">
              <legend class="tvaauto">
                TVA <span id='feedTVA4'></span>% : <a class="automatique" onclick="computeHTAmount(4, tvaVal4);"><i class="zmdi zmdi-cloud-outline zmdib"></i> automatique</i></a>
              </legend>
              <input type="hidden" name="tvaTx4" value="4">
              <span class="input-euro right">
                <input name="tvaVal4" id="tvaVal4" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>

            <div id="interobjets"></div>
            <div style="display: flex; align-items: center;">
              <legend class="tvaauto">
                TVA <span id='feedTVA3'></span>% :<a class="automatique" onclick="computeHTAmount(3, tvaVal3);"><i class="zmdi zmdi-cloud-outline zmdib"></i> automatique</i></a>
              </legend>
              <input type="hidden" name="tvaTx3" value="3">
              <span class="input-euro right">
                <input name="tvaVal3" id="tvaVal3" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>

            <div id="interobjets"></div>
            <div style="display: flex; align-items: center;">
              <legend class="tvaauto">
                TVA <span id='feedTVA2'></span>% :<a class="automatique" onclick="computeHTAmount(2, tvaVal2);"><i class="zmdi zmdi-cloud-outline zmdib"></i> automatique</i></a>
              </legend>
              <input type="hidden" name="tvaTx2" value="2">
              <span class="input-euro right">
                <input name="tvaVal2" id="tvaVal2" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>

            <div id="interobjets"></div>
            <div style="display: flex; align-items: center;">
              <legend class="tvaauto">
                TVA <span id='feedTVA1'></span>% :<a class="automatique" onclick="computeHTAmount(1, tvaVal1);"><i class="zmdi zmdi-cloud-outline zmdib"></i> automatique</i></a>
              </legend>
              <input type="hidden" name="tvaTx1" value="1">
              <span class="input-euro right">
                <input name="tvaVal1" id="tvaVal1" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>
          </fieldset>


          <div id="interobjetsDouble"></div>
          <ons-button modifier="material large" onclick="checkForm('leformDivers');"><span class="translate">validate</span></ons-button>
        </ons-col>
      </ons-row>
    </form>
  </div>

  <script type="text/javascript">
    function checkForm(leform) {
      //Ajouter une verification d'ensemble sur les données de la tva pour ne pas avoir des valeurs totalement absurdes
      //erreur de saisie, ou saisie du montant HT au lieu du montant de la TVA etc.
      let min = 0;
      let max = computeHTAmount(4, null);
      if ($('#tvaVal4').val() < min || $('#tvaVal4').val() > max) {
        ons.notification.alert("Le montant de la TVA (" + $('#tvaVal4').val() + ") n'est pas cohérent.", { title: "Erreur" });
        return;
      }
      max = computeHTAmount(3, null);
      if ($('#tvaVal3').val() < min || $('#tvaVal3').val() > max) {
        ons.notification.alert("Le montant de la TVA (" + $('#tvaVal3').val() + ") n'est pas cohérent.", { title: "Erreur" });
        return;
      }
      max = computeHTAmount(2, null);
      if ($('#tvaVal2').val() < min || $('#tvaVal2').val() > max) {
        ons.notification.alert("Le montant de la TVA (" + $('#tvaVal2').val() + ") n'est pas cohérent.", { title: "Erreur" });
        return;
      }
      max = computeHTAmount(1, null);
      if ($('#tvaVal1').val() < min || $('#tvaVal1').val() > max) {
        ons.notification.alert("Le montant de la TVA (" + $('#tvaVal1').val() + ") n'est pas cohérent.", { title: "Erreur" });
        return;
      }

      if (genericCheckForm(leform)) {
        let objForm = document.getElementById(leform);
        addLocalStorageEntry('objetsDivers', objForm.elements['label'].value);
        sendForm(leform);
      }
    }
  </script>
</ons-page>