<ons-page id="ONSIKList">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">IK</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button>
                <ons-icon icon="md-search" onclick="$('#searchRow').toggle();"></ons-icon>
            </ons-toolbar-button>
            <!-- <ons-toolbar-button onclick="deleteAllChecked();">
                <ons-icon icon="md-delete"></ons-icon>
            </ons-toolbar-button> -->
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-fab position="bottom right" onclick="showIKNewDialog();">
        <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>

    <ons-bottom-toolbar id="toolbarApply" style="display: none;">
        <div style="text-align: center; margin-top: 4px;">
            <ons-button modifier="material" onclick="applyIKSaved();"><span class="translate">apply</span></ons-button>
        </div>
    </ons-bottom-toolbar>
    <div id="container">
        <form action="" method="post" id="leformListeIK" name="leformListeIK">
            <ons-row id="searchRow" style="position: fixed; background-color: white; z-index: 100; display: none;">
                <ons-col>
                    <div style="float:right">
                        <input id="searchListeIK" type="search" value="" placeholder="" class="search-input search-input--material" style="padding: 0px 0px 0px 10px;">
                    </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <ons-list-title id='title'><span class="translate">ikListAvailable</span></ons-list-title>
                    <ons-list id='ikListeIti' style="z-index: 1;">
                    </ons-list>
                </ons-col>
            </ons-row>
        </form>
    </div>

    <script type="text/javascript">
        //Au chargement on fait un petit reset pour être sur
        globalIkToReuse = undefined;

        function showIKNewDialog(val) {
            gotoPage('frais-ik.html', true);
        };

        function applyIKSaved() {
            myDebug("applyIKSaved");

            let checkedBoxes = document.querySelectorAll('.radio-button__input:checked');
            if (checkedBoxes.length > 0) {
                checkedBoxes.forEach(e => {
                    let val = JSON.parse(atob(e.value));
                    myDebug(e.value + " :: " + val.slug + " :: " + val.label);
                    globalIkToReuse = e.value;
                });
            }
            gotoPage('frais-ik-reuse.html', true);
            // if (globalMyNavigator.topPage.data.showApplyButton) {
            //     globalMyNavigator.popPage({ callback: addTagsList(checkedBoxes) });
            // }
        }


        function updateDialog(id, slug, label) {
            // console.log("==========================");
            // console.log(id);
            // console.log(slug);
            // console.log(label);
            // let t = localGetData('ikListeIti');
            // if (t !== null) {
            //     let a = JSON.parse(t);
            //     a.splice(id, 1);
            //     var valA = { "id": id, "slug": slug, "label": label };
            //     a.push(valA);
            //     localStoreData("ikListeIti", JSON.stringify(a));
            //     feedList('listeDev', 'ikListeIti', '');
            // }
            // hideDialog('dialog-tag-update');
        }

        var hideDialog = function (id) {
            document
                .getElementById(id)
                .hide();
        };



        ons.getScriptPage().onInit = function () {

            //Faut il afficher le bouton appliquer ? oui si on arrive depuis une page de frais
            if (globalMyNavigator.topPage.data.showApplyButton) {
                myDebug("On affiche le bouton apply");
                $('#toolbarApply').show();
            }

            // var t = [];
            // t.push({ id: 154, label: "Depl. Mission ENGIE", invites: "Étapes : LYON (69) -> Dommartin (69)", distance: 40, depart: "Dommartin (69380)", arrivee: "Dommartin (69380)" });
            // t.push({ id: 155, label: "Rdv client Thibault Jacob", invites: null, distance: 417, depart: "Clermont-Ferrand", arrivee: "Villenave-d'Ornon" });
            // localStoreData("ikListeIti", JSON.stringify(t));

            feedList('ikListeIti', 'mostFrequentRoutes', '');

            /** super important: c'est la solution pour avoir le "search when you type" **/
            function handleInputIKList(e) {
                myDebug('Search value = ' + e.target.value);
                feedList('ikListeIti', 'mostFrequentRoutes', this.value);
            }
            if (typeof input === 'undefined') {
                var input = document.getElementById('searchListeIK');
                input.oninput = handleInputIKList;
            }
            /** end of solution pour avoir le "search when you type" **/

        };
    </script>
</ons-page>