<ons-page id="ONSFraisCarburant">
  <ons-alert-dialog id="checkSameVehiculeCarbu" animation="fade" animation-options="{duration: 0.5, delay: 2.5, timing: 'ease-in'}">
    <div class="alert-dialog">
      <div class="alert-dialog-container">
        <div class="alert-dialog-content">
          <h4 class="translate">checkSameVehicule</h4>
          <p class="translate">pleaseCheckIfYouChangeVehicule</p>
          <div class="feedVehicules" id='feedVehiculesProCheck'></div>
          <div class="alert-dialog-footer">
            <ons-button class="alert-dialog-button alert-dialog-button--primal translate" onclick="localStoreData('globalLastVehiculeCheck',Date.now());$('#checkSameVehiculeCarbu').hide({animation:'fade'});">OK</ons-button>
          </div>
        </div>
      </div>
    </div>
  </ons-alert-dialog>
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">gas</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformCarburant" name="leformCarburant">
      <input type="hidden" name="typeFrais" value="carburant">
      <input type="hidden" id="updateID" name="updateID" value="0">
      <input type="hidden" id="photoFacturette" name="photoFacturette" value="">

      <ons-row vertical-align="baseline" id="displayDocument">
        <ons-col>
          <div id="contenuLDFImage">
            <img id="smallImage" src="img/camera-photo.png" onclick="capturePhotoEdit();" />
          </div>
        </ons-col>
        <ons-col>
          <div id="contenuLDFPDF">
            <img id="smallPDF" src="img/pdf.png" onclick="importLocalFileFromPhone();" />
          </div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">date</legend>
            <ons-input name="ladate" id="ladate" type="date"></ons-input>
          </fieldset>
          <div id='feedTags'></div>

          <div id="interobjets"></div>

          <div class="feedVehicules" id='feedVehiculesPro'></div>

          <div id="interobjets"></div>

          <div id='feedPaiements'></div>

          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseAmount</legend>

            <div style="display: flex; align-items: center;">
              <legend class="translate">expenseTaxIncluded</legend>
              <span class="input-euro right">
                <input name="ttc" id="ttc" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>
          </fieldset>

          <input name="label" id="label" type="hidden" value="Carburant">
          <div id="interobjetsDouble"></div>
          <ons-button modifier="material large" onclick="checkForm('leformCarburant');"><span class="translate">validate</span></ons-button>
        </ons-col>
      </ons-row>
    </form>
  </div>
  </ons-row>
  </form>
  </div>

  <script type="text/javascript">
    function checkForm(leform) {
      if (genericCheckForm(leform)) {
        let objForm = document.getElementById(leform);
        addLocalStorageEntry('objetsCarburant', objForm.elements['label'].value);
        sendForm(leform);
      }
    }

    testVP = localGetData("vehiculesPro");
    if (testVP == null || testVP.length == 0) {
      ons.notification.alert(trans("pleaseAddProCarForGasExpenses"), { title: trans("warning") }).then(function () {
        gotoPage("config.html", true);
      });
    }

    if ((Date.now() - localGetData("globalLastVehiculeCheck", 0)) > globalOneMonth) {
      $("#checkSameVehiculeIK").show();
    }

  </script>
</ons-page>