<ons-page id="ONSFraisIK">
  <ons-alert-dialog id="checkSameVehiculeIK" animation="fade" animation-options="{duration: 0.5, delay: 2.5, timing: 'ease-in'}">
    <div class="alert-dialog">
      <div class="alert-dialog-container">
        <div class="alert-dialog-content">
          <h4 class="translate">checkSameVehicule</h4>
          <p class="translate">pleaseCheckIfYouChangeVehicule</p>
          <div id='feedVehiculesPersoCheck'></div>
          <div class="alert-dialog-footer">
            <ons-button class="alert-dialog-button alert-dialog-button--primal translate" onclick="localStoreData('globalLastVehiculeCheck',Date.now());$('#checkSameVehiculeIK').hide({animation:'fade'});">OK</ons-button>
          </div>
        </div>
      </div>
    </div>
  </ons-alert-dialog>
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">ik</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformIK" name="leformIK">
      <input type="hidden" name="typeFrais" value="ik">
      <input type="hidden" id="updateID" name="updateID" value="0">
      <!-- recycled to store new full path -->
      <input type="hidden" id="invites" name="invites" value="">
      <ons-row>
        <ons-col>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">date</legend>
            <ons-input name="ladate" id="ladate" type="date"></ons-input>
          </fieldset>

          <div class="feedVehicules" id='feedVehiculesPerso'></div>

          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">Objet du déplacement :</legend>
            <span class="deleteicon">
              <ons-input required modifier="underbar" float name="label" id="label" type="text" placeholder="" value=""></ons-input>
              <span class="deleteicon2" onclick="label.value='';label.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
            </span>
            <ons-list style="clear: both;">
              <ons-list-item id="listeObjets" expandable style="float: right; margin-top: -10px;" data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#label">
                <span class="translate">favorites</span>
              </ons-list-item>
            </ons-list>
          </fieldset>

          <div id='feedTags'></div>

          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">Itinéraire :</legend>

            <div id="interobjets"></div>
            <div style="display: flex;  align-items:baseline;">
              <ons-input required modifier="underbar" float name="depart" id="depart" type="text" placeholder="Ville de départ (ou code postal)" onchange="$('#departSlug').val('');$('#departUID').val('');"></ons-input>
              <ons-button modifier="material" id="btnSearchDepart" onclick="searchVille('leformIK','depart', 'departSlug','departUID');"><i class="zmdi zmdi-cloud-outline zmdib"></i></ons-button>
            </div>
            <ons-list style="clear: both;">
              <input type="hidden" id="departSlug" name="departSlug" value="">
              <input type="hidden" id="departUID" name="departUID" value="">
              <ons-list-item class="listeVille" id="listeDepart" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#departSlug">
                <span class="translate">favorites</span>
              </ons-list-item>
            </ons-list>

            <div id="iketape"></div>

            <div id="interobjets"></div>
            <div>
              <div style="width: 48%; float:right;">
                <ons-button style="height: 3em; line-height: 1.2em; padding-top: 4px;" id="btnRetourDepart" modifier="material" onclick="ikRetourDepart('leformIK');"><span class="translate">Retour au point de départ</span></ons-button>
              </div>
              <div style="width: 48%;">
                <ons-button style="height: 3em; line-height: 1.2em; padding-top: 4px;" id="btnAjoutEtape" modifier="material" onclick="ikAjoutEtape('leformIK');"><span class="translate">Ajouter une nouvelle étape</span></ons-button>
              </div>
            </div>
            <div style="align-items:baseline;">
              <ons-button id="btnCalculTotal" modifier="material large" onclick="calculTotal('leformIK');$('#btnModifier').show();$('#btnCalculTotal').hide();"><span class="translate">Parcours terminé</span></ons-button>
              <ons-button id="btnModifier" modifier="material large" onclick="$('#btnAjoutEtape').prop('disabled', false);$('#btnRetourDepart').prop('disabled', false);$('#btnModifier').hide();$('#btnCalculTotal').show();"><span class="translate">Modifier</span></ons-button>
            </div>

            <div id="interobjets"></div>

            <!-- sera completé par le submit -->
            <input type="hidden" id="arrivee" name="arrivee" value="">

            <div style="display: flex;  align-items:baseline;">
              <ons-input required modifier="underbar" float name="distance" id="distance" type="number" placeholder="Distance totale (km)" value="" min="0"></ons-input>
              <!-- <ons-button modifier="material" id="btnCalculDistance" onclick="distanceAutomatique(depart.value, arrivee.value, departSlug.value, arriveeSlug.value, 'calcul');"><i class="zmdi zmdi-cloud-outline zmdib"></i></ons-button> -->
            </div>
          </fieldset>
          <div id="interobjets"></div>

          <div id="zoneEnvoyer">
            <ons-button id="envoyer" modifier="material large" onclick="checkForm('leformIK');"><span class="translate">validate</span></ons-button>
          </div>
        </ons-col>
      </ons-row>
    </form>
  </div>

  <script type="text/javascript">
    ons.ready(function () {
      resetForm();
    });

    function resetForm() {
      //Au lancement on supprime les éventuelles étapes de la saisie précédente
      for (; nbEtape > 0; nbEtape--) {
        ikSupprimeEtape(nbEtape, 'leformIK');
      }
      nbEtape = 1;
      let fieldsToHide = ['btnModifier', 'envoyer', 'modifier'];
      for (let i = 0; i < fieldsToHide.length; i++) {
        let field = fieldsToHide[i];
        $('#' + field).hide();
      }
      let fieldsToReset = ['iketape', 'label', 'depart', 'departSlug', 'departUID', 'arrivee'];
      for (let i = 0; i < fieldsToReset.length; i++) {
        let field = fieldsToReset[i];
        $('#' + field).val('');
      }
      $("#updateID").val(0);

      if ((Date.now() - localGetData("globalLastVehiculeCheck", 0)) > globalOneMonth) {
        $("#checkSameVehiculeIK").show();
      }
    }

    function ikAjoutEtape(leform) {
      myDebug(" ikAjoutEtape ..." + nbEtape);

      let form = document.getElementById(leform);
      let obj = form.iketape;
      let html = "";
      html += "           <fieldset id=\"cgEtape" + nbEtape + "\" data-role=\"controlgroup\" data-type=\"horizontal\" data-mini=\"true\">";
      html += "            <legend>Étape " + nbEtape + ":</legend>"

      html += "            <span id=\"btnSupprEtape" + nbEtape + "\" class=\"deleteicon\" style=\"float: right;margin-top: -35px;background: white;margin-right: -4px;padding: 2px;\">";
      html += "              <span class=\"\" onclick=\"ikSupprimeEtape(" + nbEtape + ",'leformIK');\"><i style=\"font-size: x-large;\" class=\"zmdi zmdi-close-circle-o\"></i></span>";
      html += "            </span>";

      html += "            <div id=\"interobjets\"></div>";
      html += "            <div style=\"display: flex;  align-items:baseline;\">";
      html += "              <ons-input required modifier=\"underbar\" float name=\"etape" + nbEtape + "\" id=\"etape" + nbEtape + "\" type=\"text\" placeholder=\"Étape " + nbEtape + " (ou code postal)\" onchange=\"$('#etape" + nbEtape + "Slug').val('');$('#etape" + nbEtape + "Distance').val('');$('#etape" + nbEtape + "UID').val('');\"></ons-input>";
      html += "              <ons-input required modifier=\"underbar\" float name=\"etape" + nbEtape + "Distance\" id=\"etape" + nbEtape + "Distance\" type=\"number\" min=\"0\" max=\"5000\" placeholder=\"Distance\" style=\"width:6em;\"></ons-input>";
      html += "              <ons-button modifier=\"material\" id=\"btnCalculDistanceEtape" + nbEtape + "\" onclick=\"distanceAutomatiqueEtape('leformIK','etape" + nbEtape + "'," + nbEtape + ");\"><i class=\"zmdi zmdi-cloud-outline zmdib\"></i></ons-button>";
      html += "            </div>";
      html += "            <ons-list style=\"clear: both;\">";
      html += "              <input type=\"hidden\" id=\"etape" + nbEtape + "Slug\" name=\"etape" + nbEtape + "Slug\" value=\"\">";
      html += "              <input type=\"hidden\" id=\"etape" + nbEtape + "UID\" name=\"etape" + nbEtape + "UID\" value=\"\">";
      html += "              <ons-list-item class=\"listeVille\" id=\"listeEtape" + nbEtape + "\" expandable data-role=\"listview\" data-filter=\"true\" data-filter-reveal=\"true\" data-input=\"#etape" + nbEtape + "\">";
      html += "                <span class=\"translate\">favorites</span>";
      html += "              </ons-list-item>";
      html += "            </ons-list>";
      html += "           </fieldset>";
      $("#iketape").append(html);

      //On supprime le bouton qui permet de supprimer l'étape précédente pour ne pas avoir à gérer de liste avec des trous
      //-> seule la dernière étape peut-être supprimée
      //en vérité, on cache le bouton car il faut pouvoir réafficher le bouton suppr de l'étape d'avant quand on en supprime une
      if (nbEtape > 1) {
        $("#btnSupprEtape" + (nbEtape - 1)).hide();
      }

      //On complete la liste des etapes
      cities = JSON.parse(localGetData("cities"));
      if (cities) {
        //On limite à 15 pour eviter de bloquer le terminal ...
        for (var i = 0; i < cities.length && i < 15; i++) {
          $('#listeEtape' + nbEtape).append('<div class=\"expandable-content list-item__expandable-content\"><a href="#" onclick="selectEtape(' + nbEtape + ',\'' + cities[i] + '\');">' + cities[i] + '</a></div>');
        }
      }
      nbEtape++;
      myDebug(" ikAjoutEtape end, nbEtape=" + nbEtape);
    }



    function ikRetourDepart(leform) {
      let form = document.getElementById(leform);
      let obj = form.iketape;
      let html = "";
      html += "           <fieldset id=\"cgEtape" + nbEtape + "\" data-role=\"controlgroup\" data-type=\"horizontal\" data-mini=\"true\">";
      html += "            <legend>Retour au point de départ :</legend>"

      html += "            <span id=\"btnSupprEtape" + nbEtape + "\" class=\"deleteicon\" style=\"float: right;margin-top: -35px;background: white;margin-right: -4px;padding: 2px;\">";
      html += "              <span class=\"\" onclick=\"ikSupprimeEtape(" + nbEtape + ",'leformIK');\"><i style=\"font-size: x-large;\" class=\"zmdi zmdi-close-circle-o\"></i></span>";
      html += "            </span>";

      html += "            <div id=\"interobjets\"></div>";
      html += "            <div style=\"display: flex;  align-items:baseline;\">";
      html += "              <ons-input required modifier=\"underbar\" float name=\"etape" + nbEtape + "\" id=\"etape" + nbEtape + "\" type=\"text\" value=\"" + $('#depart').val() + "\"></ons-input>";
      html += "              <ons-input required modifier=\"underbar\" float name=\"etape" + nbEtape + "Distance\" id=\"etape" + nbEtape + "Distance\" type=\"number\" min=\"0\" max=\"5000\" placeholder=\"Distance\" style=\"width:6em;\"></ons-input>";
      html += "              <ons-button modifier=\"material\" id=\"btnCalculDistanceEtape" + nbEtape + "\" onclick=\"distanceAutomatiqueEtape('leformIK','etape" + nbEtape + "'," + nbEtape + ");\"><i class=\"zmdi zmdi-cloud-outline zmdib\"></i></ons-button>";
      html += "            </div>";
      html += "            <ons-list style=\"clear: both;\">";
      html += "              <input type=\"hidden\" id=\"etape" + nbEtape + "Slug\" name=\"etape" + nbEtape + "Slug\" value=\"\">";
      html += "              <input type=\"hidden\" id=\"etape" + nbEtape + "UID\" name=\"etape" + nbEtape + "UID\" value=\"\">";
      html += "              <ons-list-item class=\"listeVille\" id=\"listeEtape" + nbEtape + "\" expandable data-role=\"listview\" data-filter=\"true\" data-filter-reveal=\"true\" data-input=\"#etape" + nbEtape + "\">";
      html += "                <span class=\"translate\">favorites</span>";
      html += "              </ons-list-item>";
      html += "            </ons-list>";
      html += "           </fieldset>";
      $("#iketape").append(html);

      //On supprime le bouton qui permet de supprimer l'étape précédente pour ne pas avoir à gérer de liste avec des trous
      //-> seule la dernière étape peut-être supprimée
      //en vérité, on cache le bouton car il faut pouvoir réafficher le bouton suppr de l'étape d'avant quand on en supprime une
      if (nbEtape > 1) {
        $("#btnSupprEtape" + (nbEtape - 1)).hide();
      }


      //On complete la liste des etapes
      cities = JSON.parse(localGetData("cities"));
      if (cities) {
        //On limite à 15 pour eviter de bloquer le terminal ...
        for (var i = 0; i < cities.length && i < 15; i++) {
          $('#listeEtape' + nbEtape).append('<div class=\"expandable-content list-item__expandable-content\"><a href="#" onclick="selectEtape(' + nbEtape + ',\'' + cities[i] + '\');">' + cities[i] + '</a></div>');
        }
      }

      //On désactive le bouton ajouter étape
      $("#btnAjoutEtape").prop('disabled', true);

      //On désactive le bouton retour au point de départ aussi
      $("#btnRetourDepart").prop('disabled', true);

      //On lance le calcul de distance du dernier morceau
      $("#btnCalculDistanceEtape" + nbEtape - 1).ready(function () {
        distanceAutomatiqueEtape('leformIK', 'etape' + (nbEtape - 1), (nbEtape - 1));
      });

      //On se déplace à la fin du formulaire
      document.getElementById('zoneEnvoyer').scrollIntoView();
      $("#btnCalculTotal").focus();

      nbEtape++;
    }

    function ikSupprimeEtape(nb, leform) {
      $("#cgEtape" + nb).remove();
      nbEtape--;
      nb--;
      //Et on réaffiche le bouton supprimer de l'étape précédente
      if (nb > 0) {
        $("#btnSupprEtape" + nb).show();
      }
    }

    function calculTotal(leform) {
      let total = 0;
      for (i = 1; i < nbEtape; i++) {
        let d = parseInt($("#etape" + i + "Distance").val());
        total += d;
      }
      $("#distance").val(total);
      $("#envoyer").show();
      $("#modifier").show();
      //On désactive le bouton ajouter étape
      $("#btnAjoutEtape").prop('disabled', true);

      //On désactive le bouton retour au point de départ aussi
      $("#btnRetourDepart").prop('disabled', true);

      document.getElementById('envoyer').scrollIntoView();
    }


    function checkForm(leform) {
      //cas particulier des ik
      globalPictureFileName = 'ik';
      // on complète l'arrivée
      if (nbEtape > 0) {
        let derniereEtape = $("#etape" + (nbEtape - 1)).val();
        $("#arrivee").val(derniereEtape);
        myDebug(" checkForm on ajoute l'arrivée : " + $("#arrivee").val());
      }

      if (genericCheckForm(leform)) {
        let objForm = document.getElementById(leform);
        addLocalStorageEntry('objetsIK', objForm.elements['label'].value);
        addLocalStorageEntry('cities', objForm.elements['depart'].value);
        for (i = 1; i < nbEtape; i++) {
          addLocalStorageEntry('cities', objForm.elements['etape' + i].value);
        }

        sendForm(leform);
      }
    }

    $('#depart').keyup(function () {
      $('#listeDepart').show();
    });

    function selectDepart(ville) {
      $('#listeDepart').hide();
      $('#depart').val(ville);
      // $('#arrivee').focus();
      $('#departSlug').val('');
      $('#departUID').val('');
      document.querySelector('#listeDepart').hideExpansion();
      $('#listeDepart').show();
    }

    function selectEtape(nb, ville) {
      $('#listeEtape' + nb).hide();
      $('#etape' + nb).val(ville);
      $('#etape' + nb + 'Slug').val('');
      $('#etape' + nb + 'UID').val('');
      document.querySelector('#listeEtape' + nb).hideExpansion();
      $('#listeEtape' + nb).show();
    }

    testVP = localGetData("vehicules");
    if (testVP == null || testVP.length == 0) {
      ons.notification.alert("Si vous voulez saisir des IK ajoutez un véhicule personnel dans le menu Configuration.", { title: "Attention" }).then(function () {
        gotoPage("config.html", true);
      });
    }
  </script>
</ons-page>