<ons-page id="ONSFraisPeage">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">parkingOrToll</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformPeage" name="leformPeage">
      <input type="hidden" name="typeFrais" value="peage">
      <input type="hidden" id="updateID" name="updateID" value="0">
      <input type="hidden" id="tags" name="tags" value="">
      <input type="hidden" id="photoFacturette" name="photoFacturette" value="">
      <ons-row vertical-align="baseline" id="displayDocument">
        <ons-col>
          <div id="contenuLDFImage">
            <img id="smallImage" src="img/camera-photo.png" onclick="capturePhotoEdit();" />
          </div>
        </ons-col>
        <ons-col>
          <div id="contenuLDFPDF">
            <img id="smallPDF" src="img/pdf.png" onclick="importLocalFileFromPhone();" />
          </div>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col>
          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">date</legend>
            <ons-input name="ladate" id="ladate" type="date"></ons-input>
          </fieldset>

          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseObject</legend>
            <div class="segment" style="width:100%; margin: 0 auto;">
              <div class="segment__item">
                <input type="radio" name="objetDepense" id="objetPeage" value="Péage" class="segment__input" />
                <div class="segment__button translate">toll</div>
              </div>
              <div class="segment__item">
                <input type="radio" name="objetDepense" id="objetParking" value="Parking" class="segment__input" />
                <div class="segment__button translate">parking</div>
              </div>
            </div>
            <div id="interobjetsDouble"></div>
            <span class="deleteicon">
              <ons-input required modifier="underbar" float name="label" id="label" type="text" placeholder="Complément d'information" value=""></ons-input>
              <span class="deleteicon2" onclick="label.value='';label.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
            </span>
            <ons-list style="clear: both;">
              <ons-list-item id="listeObjets" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#label">
                <span class="translate">favorites</span>
              </ons-list-item>
            </ons-list>
          </fieldset>

          <div id='feedTags'></div>

          <div id='feedPaiements'></div>

          <div id="interobjets"></div>
          <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
            <legend class="translate">expenseAmount</legend>
            <div style="display: flex; align-items: center;">
              <legend class="translate">expenseTaxIncluded</legend>
              <span class="input-euro right">
                <input name="ttc" id="ttc" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
            </div>

            <div id="interobjets"></div>
            <div style="display: flex; align-items: center;">
              <legend class="tvaauto">
                HT : <a class="automatique" onclick="computeHT(4, ht);"><i class="zmdi zmdi-cloud-outline zmdib"></i> automatique</i></a>
              </legend>
              <span class="input-euro right">
                <input name="ht" id="ht" type="number" step="any" inputmode="decimal" placeholder="" min="0">
              </span>
              <input type="hidden" name="tvaTx4" value="4">
            </div>
          </fieldset>

          <div id="interobjetsDouble"></div>
          <ons-button modifier="material large" onclick="checkForm('leformPeage');"><span class="translate">validate</span></ons-button>
  </div>
  </ons-row>
  </form>
  </div>
  <script type="text/javascript">

    function checkForm(leform) {
      //Ajouter une verification d'ensemble sur les données de la tva pour ne pas avoir des valeurs totalement absurdes
      //erreur de saisie, ou saisie du montant HT au lieu du montant de la TVA etc.
      let min = 0;
      let max = $('#ttc').val();
      if ($('#tvaVal4').val() < min || $('#tvaVal4').val() > max) {
        ons.notification.alert("Le montant de la TVA (" + $('#tvaVal4').val() + ") n'est pas cohérent.", { title: "Erreur" });
        return;
      }

      let objForm = document.getElementById(leform);
      //On bidouille la valeur du champ "label" pour ajouter l'objet de la dépense
      let labelValue = objForm.elements['label'].value;
      myDebug("checkForm " + JSON.stringify(leform));
      // myDebug("checkForm JSON " + document.getElementById('leformPeage').ttc);

      if (genericCheckForm(leform)) {

        myDebug("retour genericCheckForm OK");
        addLocalStorageEntry('objetsPeageParking', labelValue);
        myDebug("retour genericCheckForm OK 2");

        //Juste avant de sauter sur la suite on modifie la valeur du champ
        objForm.elements['label'].value = objForm.elements['objetDepense'].value + " " + labelValue;
        // myDebug(labelValue);
        // myDebug(objForm.elements['label'].value);
        sendForm(leform);
      }
      else {
        myDebug("genericCheckForm return false");
      }
    }

  </script>
</ons-page>