<ons-page id="ONSFraisIKReuse">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">ik</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <form action="" method="post" id="leformIK" name="leformIK">
            <input type="hidden" name="typeFrais" value="ik">
            <input type="hidden" id="updateID" name="updateID" value="0">
            <!-- recycled to store new full path -->
            <ons-row>
                <ons-col>
                    <!-- <br />
                    <p>Dans le cadre de la réutilisation d'un itinéraire habituel vous n'avez plus qu'à saisir la date de votre déplacement et valider celui-ci. Vous pouvez éventuellement choisir un autre véhicule ou modifier l'objet du déplacement. Les autres champs sont figées.</p> -->
                    <div id="interobjets"></div>
                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <legend class="translate">date</legend>
                        <ons-input name="ladate" id="ladate" type="date"></ons-input>
                    </fieldset>

                    <div class="feedVehicules" id='feedVehiculesPerso'></div>

                    <div id="interobjets"></div>
                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        <legend class="translate">Objet du déplacement :</legend>
                        <ons-input modifier="underbar" float name="label" id="label" type="text" value=""></ons-input>
                        <div id="interobjets"></div>

                        <div style="display: flex; align-items: center;">
                            <legend class="translate">Départ</legend>
                            <span class="input-txt right">
                                <input name="depart" id="depart" type="text" readonly>
                            </span>
                        </div>

                        <div style="display: flex; align-items: center;">
                            <legend class="translate">Arrivée</legend>
                            <span class="input-txt right">
                                <input name="arrivee" id="arrivee" type="text" readonly>
                            </span>
                        </div>

                        <div style="display: flex; align-items: center;">
                            <legend class="translate">Étapes (éventuelles)</legend>
                            <span class="input-txt right">
                                <input name="invites" id="invites" type="text" readonly>
                            </span>
                        </div>

                        <div style="display: flex; align-items: center;">
                            <legend class="translate">Distance totale</legend>
                            <span class="input-txt right">
                                <input name="distance" id="distance" type="text" readonly>
                            </span>
                        </div>

                    </fieldset>

                    <div id="interobjets"></div>

                    <div id="zoneEnvoyer">
                        <div style="width: 48%; float:right;">
                            <ons-button id="envoyer" modifier="material large" onclick="checkForm('leformIK');"><span class="translate">validate</span></ons-button>
                        </div>
                    </div>
                </ons-col>
            </ons-row>
        </form>
    </div>

    <script type="text/javascript">
        if (globalIkToReuse !== undefined) {
            let decode = JSON.parse(atob(globalIkToReuse));
            $("#label").val(decode.label);
            $("#depart").val(decode.depart);
            $("#arrivee").val(decode.arrivee);
            $("#distance").val(decode.distance);
            let nb = 1;
            if (decode.etapes.length > 0) {
                let txt = "Etapes : ";
                let etxt = "";
                decode.etapes.forEach((v, key) => {
                    if (etxt != "")
                        etxt += ", ";
                    etxt += v;
                    //Il faut "pousser" un objet etapeNB sur le formulaire
                    addHiddenValue('leformIK', "etape" + nb, v);
                    nb++;
                });
                $("#invites").val(txt + etxt);
            }
        }
        else {
            myDebug("globalIkToReuse is undefined !")
        }

        function addHiddenValue(leform, key, value) {
            let objForm = document.getElementById(leform);
            // Create a hidden input element, and append it to the form:
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = key; // 'the key/name of the attribute/field that is sent to the server
            input.value = value;
            objForm.appendChild(input);
        }

        function checkForm(leform) {
            //cas particulier des ik
            globalPictureFileName = 'ik';
            if (genericCheckForm(leform)) {
                let objForm = document.getElementById(leform);
                sendForm(leform);
            }
        }

        testVP = localGetData("vehicules");
        if (testVP == null || testVP.length == 0) {
            ons.notification.alert("Si vous voulez saisir des IK ajoutez un véhicule personnel dans le menu Configuration.", { title: "Attention" }).then(function () {
                gotoPage("config.html", true);
            });
        }
    </script>
</ons-page>