<ons-page id="ONSHistorique">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">history</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <div id="contenuNDF">
          <p class="translate">pleaseWaitForHistoryDownload</p>
        </div>
      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
  </script>
</ons-page>
