<ons-page id="ONSMenu">
  <ons-toolbar modifier="material">
    <div id="titreDoliscan" class="left" onclick="">
      <span id="titreDoliscan">DoliSCAN</span>
    </div>
    <div id="home" class="left" onclick="">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <p style="margin:0; width:100%; text-align: right;"><span id="feedDoliscanAccount"></span></p>
      <div class="one-half column">
        <ons-button modifier="material large" onclick="gotoPage('frais-ik-list.html', true);" class="menubutton" id="btnMenuIK">
          <ons-icon icon="md-car"></ons-icon>
          <span class="menulabel translate">menuIK</span>
        </ons-button>

        <ons-button modifier="material large" onclick="gotoPage('frais-carburant.html', true);" class="menubutton" id="btnMenuGas">
          <ons-icon icon="md-gas-station"></ons-icon>
          <span class="menulabel translate">menuGas</span>
        </ons-button>

        <ons-button modifier="material large" onclick="gotoPage('frais-peage.html', true);" class="menubutton" id="btnMenuParking">
          <ons-icon icon="md-parking"></ons-icon>
          <span class="menulabel translate">menuParking</span>
        </ons-button>

        <ons-button modifier="material large" onclick="gotoPage('frais-restauration.html', true);" class="menubutton" id="btnMenuFood">
          <ons-icon icon="md-coffee"></ons-icon>
          <ons-icon icon="md-cutlery"></ons-icon>
          <span class="menulabel translate">menuFood</span>
        </ons-button>
      </div>
      <div class="one-half column">
        <ons-button modifier="material large" onclick="gotoPage('frais-hotel.html', true);" class="menubutton" id="btnMenuHotel">
          <ons-icon icon="md-hotel"></ons-icon>
          <span class="menulabel translate">menuHotel</span>
        </ons-button>

        <ons-button modifier="material large" onclick="gotoPage('frais-taxi.html', true);" class="menubutton" id="btnMenuTaxi">
          <ons-icon icon="md-car-taxi"></ons-icon>
          <span class="menulabel translate">menuTaxi</span>
        </ons-button>

        <ons-button modifier="material large" onclick="gotoPage('frais-train.html', true);" class="menubutton" id="btnMenuPlane">
          <ons-icon icon="md-airplane"></ons-icon>
          <ons-icon icon="md-railway"></ons-icon>
          <span class="menulabel translate">menuPlane</span>
        </ons-button>

        <ons-button modifier="material large" onclick="gotoPage('frais-divers.html', true);" class="menubutton" id="btnMenuOther">
          <ons-icon icon="md-assignment"></ons-icon>
          <span class="menulabel translate">menuOther</span>
        </ons-button>

        <!-- <ons-button modifier="material large" onclick="gotoPage('frais-divers-pdf.html', true);" class="menubutton">
          <ons-icon icon="md-assignment"></ons-icon>
          <span class="menulabel translate">menuPDF</span>
        </ons-button> -->

        <!-- <ons-button modifier="material large" onclick="gotoPage('dev.html', true);" class="menubutton">
          <ons-icon icon="md-assignment"></ons-icon>
          <span class="menulabel">Dev</span>
        </ons-button> -->

      </div>
    </ons-row>
    <!-- <ons-row>
      <ons-button modifier="material large" onclick="gotoPage('frais-test.html', true);" class="menubutton"><i class="zmdi zmdi-alert-triangle"></i><i class="zmdi zmdi-bug"></i>Zone de tests</ons-button>
    </ons-row> -->
  </div>
  <script type="text/javascript">
    ons.preload('tags.html');
  </script>
</ons-page>