<ons-page id="ONSMessageError">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      Doliscan
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h3 class="translate">uploadError</h3>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>
        <p class="translate">errorUploadMsg1</p>
        <p class="translate">errorUploadMsg2</p>
      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
  </script>

</ons-page>
