<ons-page id="ONSMessageUploadProgress">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            Doliscan
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <ons-row>
            <ons-col>
                <h3 class="translate">uploadInProgress</h3>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col>
                <p class="translate">pleaseWaitDuringUpload</p>
                <p class="translate">checkYourNetworkQuality</p>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col>
                <div class="progress" id="upload-progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: 0%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col>
                <div style="text-align: center">
                    <p>
                        <ons-icon icon="md-spinner" size="45px" spin></ons-icon>
                    </p>
                </div>
            </ons-col>
        </ons-row>

    </div>
    <script type="text/javascript">
    </script>
</ons-page>
