<ons-page id="ONSMonCompte">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      <span class="translate">myAccount</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <form action="" method="post" id="leformMonCompte" name="leformMonCompte">
      <ons-row>
        <ons-col>
          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="firstname" id="firstname" type="text" placeholder="Prénom" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="name" id="name" type="text" placeholder="Nom" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="email" id="email" type="text" placeholder="Adresse mail (non modifiable)" autocorrect="off" autocapitalize="off" spellcheck="false" readOnly="true">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="adresse" id="adresse" type="text" placeholder="Adresse postale complète" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="cp" id="cp" type="text" placeholder="Code Postal" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="ville" id="ville" type="text" placeholder="Ville" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="pays" id="pays" type="text" placeholder="Pays" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>

          <div id="interobjetsDouble"></div>
          <ons-input required modifier="underbar" float name="send_copy_to" id="send_copy_to" type="email" placeholder="Service comptable" autocorrect="off" autocapitalize="off" spellcheck="false">
          </ons-input>


          <div id="interobjetsDouble"></div>
          <ons-button modifier="material large" onclick="saveUserAccount();" class="menubutton">
            <ons-icon icon="md-floppy"></ons-icon>
            <span class="menulabel translate">save</span>
          </ons-button>
        </ons-col>
      </ons-row>
    </form>
    <!-- <ons-row>
  <ons-col>
    <h2>Export de vos données</h2>
    <p>Si vous voulez télécharger la totalité des données qui vous concernent veuillez cliquer sur le bouton ci-après<p>
        <ons-button modifier="material large" type="button" onclick="downloadFullAccount();" class="menubutton"><i
            class="zmdi zmdi-download"></i>Préparer le téléchargement...</ons-button>
  </ons-col>
</ons-row> -->
    <!-- <ons-row>
  <ons-col>
    <h2>Fermer votre compte</h2>
    <p>Si vous voulez clôturer votre compte veuillez cliquer sur le bouton ci-après<p>
        <ons-button modifier="material large" type="button" onclick="deleteAccount();" class="menubutton"><i
            class="zmdi zmdi-delete"></i>Supprimer mon compte...</ons-button>
  </ons-col>
</ons-row> -->
  </div>
  <script type="text/javascript">
    configKeys = ['firstname', 'name', 'adresse', 'cp', 'ville', 'pays', 'send_copy_to', 'email'];

    function saveUserAccount() {
      //Si le formulaire est valide on sauvegarde les données
      for (let key of configKeys) {
        // myDebug("On cherche " + key);
        localStoreData(key, $('#' + key).val());
      }
      //On pousse les modifications sur le serveur
      showWait();
      updateServerUserFromLocal();
    }

  </script>
</ons-page>
