<ons-page id="ONSSync">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">sync</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">

        <h4 class="translate">sync</h4>

        <ons-row>
            <ons-col>
                <p class="translate">pleaseConnectWIFI</p>

                <ons-button modifier="material large" onclick="getListToSync();"><span class="translate">refresh</span></ons-button>

                <p class="translate">listExpensesToSync</p>

                <div id='feedToSync'></div>

                <div style="clear:both"></div>

                <!-- <p>Liste des fichiers présents sur l'espace de stockage :</p>
                <ul id="listPath">
                </ul> -->
            </ons-col>
        </ons-row>

        <!-- <ons-row>
    <ons-col>
        <ons-button modifier="material large" onclick="rSyncOne(2);">Lancer la synchronisation</ons-button>
    </div>
</div> -->
    </div>
    <script>

        function rSyncDeleteConfirm(id) {
            ons.notification.confirm(trans("questionBeforeDelete"), {
                title: trans("checkBeforeDelete"), buttonLabels: [trans('no'), trans('yesDelete')],
                callback: function (index) {
                    if (index == 1) {
                        rSyncDelete(id);
                    }
                }
            });
        }
    </script>
</ons-page>
