<ons-page id="ONSTagsList">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">tags</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button>
                <ons-icon icon="md-search" onclick="$('#searchRow').toggle();"></ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button onclick="deleteAllChecked();">
                <ons-icon icon="md-delete"></ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-fab position="bottom right" onclick="showTagNewDialog();">
        <ons-icon icon="md-plus"></ons-icon>
    </ons-fab>

    <ons-bottom-toolbar id="toolbarApply" style="display: none;">
        <div style="text-align: center; margin-top: 4px;">
            <ons-button modifier="material" onclick="applyTags();"><span class="translate">apply</span></ons-button>
        </div>
    </ons-bottom-toolbar>
    <ons-bottom-toolbar id="toolbarSync">
        <div style="text-align: center; margin-top: 4px;">
            <ons-button modifier="material" onclick="syncTags();"><span class="translate">sync</span></ons-button>
        </div>
    </ons-bottom-toolbar>
    <div id="container">
        <form action="" method="post" id="leformDev" name="leformDev">
            <ons-row id="searchRow" style="position: fixed; background-color: white; z-index: 100; display: none;">
                <ons-col>
                    <div style="float:right">
                        <input id="searchDev" type="search" value="" placeholder="" class="search-input search-input--material" style="padding: 0px 0px 0px 10px;">
                    </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>                           
                    <ons-list-header id='title'><span class="translate"> lisye tagsAvailable</span></ons-list-header>
                        <ons-list expandable style="z-index: 1;">
                            <div class="expandable-content" id='listeTags'>
                            </div>
                    </ons-list>
                </ons-col>
            </ons-row>
        </form>
    </div>

    <script type="text/javascript">
        function showTagNewDialog(val) {
            var dialog = document.getElementById('dialog-tag-new');
            if (dialog) {
                dialog.show();
                translateUI();
            }
        };

        // ============== liste générique (dev en cours)
        function showTagUpdateDialog(val) {
            var dialog = document.getElementById('dialog-tag-update');
            if (dialog) {
                dialog.show();
                translateUI();
                let inLabel = document.getElementById('dialogLabel');
                let inSlug = document.getElementById('dialogSlug');
                let inID = document.getElementById('dialogID');
                // console.log("==========================");
                // console.log(val);
                // console.log(dialog);
                // console.log(inField);
                inLabel.value = val.label;
                inID.value = val.id;
                inSlug.value = val.slug;
            }
        };

        function deleteDialog(id, slug, label) {
            let t = localGetData('tags');
            if (t !== null) {
                let a = JSON.parse(t);
                a.splice(id, 1);
                localStoreData("tags", JSON.stringify(a));
                feedList('listeTags', 'tags', '');
            }
            hideDialog('dialog-tag-update');
        }

        function updateDialog(id, slug, label) {
            // console.log("==========================");
            // console.log(id);
            // console.log(slug);
            // console.log(label);
            let t = localGetData('tags');
            if (t !== null) {
                let a = JSON.parse(t);
                a.splice(id, 1);
                var valA = { "id": id, "slug": slug, "label": label };
                a.push(valA);
                localStoreData("tags", JSON.stringify(a));
                feedList('listeTags', 'tags', '');
            }
            hideDialog('dialog-tag-update');
        }


        var hideDialog = function (id) {
            document
                .getElementById(id)
                .hide();
        };

        /**
         * Ajoute une entrée à la liste ---------- version checkbox
         */
        function makeOneListCheckboxEntry(id, l_title, l_subtitle, l_value) {
            let h = "";
            var valA = { "id": id, "slug": l_value, "label": l_title };
            let val = btoa(JSON.stringify(valA));
            // if (typeof l_subtitle === undefined || l_subtitle == "undefined" || l_subtitle == "") {
            //ok            h += "<ons-list-item tappable onclick='listChooseVal(\"" + id + "\", \"" + l_value + "\")'>" + l_title + "</ons-list-item>\n";

            //tentative avec checkbox
            h += "<ons-list-item tappable>\n";
            h += "      <label class=\"left\"><ons-checkbox input-id=\"" + l_value + "\" value=\"" + val + "\"></ons-checkbox></label>\n";
            h += "      <label for=\"" + l_value + "\" class=\"center\">" + l_title + "</label>\n";
            h += "</ons-list-item>\n";

            // h += "<ons-list-item tappable onclick='listChooseVal(\"" + id + "\", \"" + l_value + "\")'>" + l_title + "</ons-list-item>\n";
            // }
            return h;
        }

        // function listChooseVal(id, value) {

        // }


        /**
         * récupère la liste de toutes les checkbox cochées
         */
        function applyTags() {
            myDebug("applyTags");
            let checkedBoxes = document.querySelectorAll('.checkbox__input:checked');
            if (checkedBoxes.length > 0) {
                checkedBoxes.forEach(e => {
                    let val = JSON.parse(atob(e.value));
                    myDebug(e.value + " :: " + val.slug + " :: " + val.label);
                });
            }
            else {
                ons.notification.toast(trans('pleaseSelectTagsBefore'), { timeout: 2000, animation: 'fall' });
            }

            if (globalMyNavigator.topPage.data.showApplyButton) {
                globalMyNavigator.popPage({ callback: addTagsList(checkedBoxes) });
            }
        }

        /**
         * supprime toutes les étiquettes sélectionnées
         **/
        function deleteAllChecked() {
            let checkedBoxes = document.querySelectorAll('.checkbox__input:checked');
            if (checkedBoxes.length > 0) {
                let t = localGetData('tags');
                // if (t !== null) {
                let a = JSON.parse(t);
                // }
                checkedBoxes.forEach(e => {
                    let val = JSON.parse(atob(e.value));
                    a.splice(val.id, 1);
                    myDebug(val.slug + " :: " + val.label);
                });

                localStoreData("tags", JSON.stringify(a));
                feedList('listeTags', 'tags', '');
            }
            else {
                ons.notification.toast(trans('pleaseSelectTagsBefore'), { timeout: 2000, animation: 'fall' });
            }
        }

        /**
         * complète la liste automatiquement
         */
        function feedListCheckbox(fieldName, sourceListName, search = "") {
            let formField = '#' + fieldName;
            let html = "";
            let strRegEx = new RegExp(search, 'i');
            $(formField).empty();

            let thelist = JSON.parse(localGetData(sourceListName));
            if (thelist !== null) {
                thelist.sort(function (a, b) {
                    return a.label.localeCompare(b.label);
                });
                //On re-sauvegarde pour avoir la liste triée et donc les indices correspondants (pour del/update)
                localStoreData(sourceListName, JSON.stringify(thelist));

                myDebug("Liste non vide : " + thelist.length);
                for (let f = 0; f < thelist.length; f++) {
                    let ltitle = thelist[f].label;
                    // let llabel = thelist.arrayData[f][''];
                    let llabel = "";
                    //let lvalue = thelist[f].slug;
                    if (search == "") {
                        myDebug("Search vide, ajout d'une entree : " + ltitle + " / " + llabel);
                        html += makeOneListCheckboxEntry(f, ltitle, llabel, lvalue);
                    }
                    else {
                        myDebug("Vérifie si l'entrée matche avec la recherche ... " + ltitle + " search " + strRegEx);
                        if (ltitle.match(strRegEx)) {
                            myDebug("Ca matche ! Ajout d'une entree : " + ltitle + " / " + llabel);
                            html += makeOneListCheckboxEntry(f, ltitle, llabel, lvalue);
                        }
                    }
                }
            }
            // myDebug("Ajout du code HTML : " + html);

            $(formField).append(html);
        }


        ons.getScriptPage().onInit = function () {

            //Faut il afficher le bouton appliquer ? oui si on arrive depuis une page de frais
            if (globalMyNavigator.topPage.data.showApplyButton) {
                myDebug("On affiche le bouton apply");
                $('#toolbarApply').show();
            }

            // //Liste triée en amont pour se simplifier la vie
            // // t.sort(function (a, b) {
            // //     return a.label.localeCompare(b.label);
            // // });

            // localStoreData("tags", JSON.stringify(t));

            feedList('listeTags', 'tags', '');

            //On créé la dialog pour ne pas avoir de pb de promise si on a la génère au vol
            ons.createElement('dialogs/dialog-tag-update.html', { append: true });
            ons.createElement('dialogs/dialog-tag-new.html', { append: true });

            if (typeof onHold === 'undefined') {
                var onHold = ons.GestureDetector(listeTags).on("hold", function (e) {
                    let id = e.srcElement.control.id;
                    let input = document.getElementById(id);
                    let val = JSON.parse(atob(input.value));
                    // alert(val);
                    // console.log(val);
                    showTagUpdateDialog(val);
                });
            }

            /** super important: c'est la solution pour avoir le "search when you type" **/
            function handleInputDev(e) {
                myDebug('Search value = ' + e.target.value);
                feedList('listeTags', 'tags', this.value);
            }
            if (typeof input === 'undefined') {
                var input = document.getElementById('searchDev');
                input.oninput = handleInputDev;
            }
            /** end of solution pour avoir le "search when you type" **/

        };



    </script>
</ons-page>