<ons-page id="ONSUserswitch">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
            <span class="translate">userSwitch</span>
        </div>
        <div id="home" class="left" onclick="gotoPage('menu.html');">
            <img src="img/logo_square.png" id="homeLogo" />
        </div>
        <div id="menuHautDroite" class="right">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div id="container">
        <ons-row>
            <ons-col>
                <h2 class="translate">aboutUserSwitch</h2>
            </ons-col>
        </ons-row>

        <form action="" method="post" id="leformAccountsUS">
            <div id='feedMyAccountsUS'></div>
        </form>

        <ons-row>
            <ons-col>
                <ons-card>
                    <ons-row>
                        <ons-col>
                            <ons-icon icon="fa-user-plus" size="50px"></ons-icon>
                        </ons-col>
                        <ons-col>
                            <div class="title">
                                <span class="translate">OtherAccount</span>
                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col style="text-align: center;">
                            <ons-button modifier="material large" onclick="localStoreData('email','');carouselLogin(0);" class="menubutton">
                                <span class="menulabel translate">AddNewAccount</span>
                            </ons-button>
                        </ons-col>
                    </ons-row>
                </ons-card>
            </ons-col>
        </ons-row>

    </div>

    <script type="text/javascript">
        ons.getScriptPage().onInit = function () {
            feedMyAccounts('feedMyAccountsUS');
        };
    </script>
</ons-page>