<fielset id="moyenPaiement" data-role="controlgroup" data-type="horizontal" data-mini="true">
  <legend class="translate">paymentMode</legend>
  <div class="segment" style="width:100%; margin: 0 auto;">
    <div class="segment__item">
      <input type="radio" name="moyenPaiement" id="moyenPaiement-perso" value="perso" checked="checked" class="segment__input" />
      <div class="segment__button"><span class="translate">personal</span></div>
    </div>
    <div class="segment__item">
      <input type="radio" name="moyenPaiement" id="moyenPaiement-cb-pro" value="cb-pro" class="segment__input" />
      <div class="segment__button"><span class="translate">proCB</span></div>
    </div>
    <!-- <div class="segment__item">
      <input type="radio" name="moyenPaiement" id="moyenPaiement-3" value="cheque-pro" class="segment__input" />
      <div class="segment__button">Chèque Pro</div>
    </div> -->
    <div class="segment__item">
      <input type="radio" name="moyenPaiement" id="moyenPaiement-especes-pro" value="especes-pro" class="segment__input" />
      <div class="segment__button"><span class="translate">proCash</span></div>
    </div>
  </div>
</fieldset>
