<ons-page id="ONSSplitter">
  <ons-toolbar modifier="material">
    <div id="titreDoliscan" class="left">
      <span id="titreDoliscan">DoliSCAN</span>
    </div>
    <div id="home" class="left">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
  </ons-toolbar>
  <ons-list>
    <ons-list-item onclick="gotoPage('menu.html');" tappable modifier="nodivider" id="rightMenuHome">
      <span class="translate">home</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('historique.html');" tappable modifier="nodivider" id="rightMenuHistory">
      <span class="translate">history</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('sync.html');" tappable modifier="nodivider" id="rightMenuSync">
      <span class="translate">sync</span>
    </ons-list-item>
    <!-- <ons-list-header>Configuration</ons-list-header> -->
    <ons-list-item onclick="gotoPage('config.html');" tappable modifier="nodivider" id="rightMenuVehicles">
      <span class="translate">vehicles</span>
    </ons-list-item>
    <!-- <ons-list-item onclick="gotoPage('frais-divers-pdf.html');" tappable modifier="nodivider" id="rightMenuPDF">
      <span class="translate">fichier pdf</span>
    </ons-list-item> -->
    <ons-list-item onclick="gotoPage('tags.html');" tappable modifier="nodivider" id="rightMenuTags">
      <span class="translate">tags</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('moncompte.html');" tappable modifier="nodivider" id="rightMenuMyAccount">
      <span class="translate">myAccount</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('config-tva.html');" tappable modifier="nodivider" id="rightMenuVatConfig">
      <span class="translate">vatConfig</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('apropos.html');" tappable modifier="nodivider" id="rightMenuAbout">
      <span class="translate">about</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('userswitch.html');" tappable modifier="nodivider" id="rightMenuUserSwitcher">
      <span class="translate">userSwitch</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('agenda-ik.html');" tappable modifier="nodivider" id="rightMenuIkAgenda">
      Agenda-IK
    </ons-list-item>
    <!-- <ons-list-header>Espace alpha</ons-list-header> -->
    <ons-list-item onclick="closeSession();" tappable modifier="nodivider" id="rightMenuCloseSession">
      <span class="translate">closeSession</span>
    </ons-list-item>
  </ons-list>
</ons-page>