<ons-dialog id="dialog-image" animation="default">
    <pinch-zoom class="my-pinch-zoom">
        <div id="contenuLDFImage2" style="text-align: center; padding: 10px;">
            <img id="imageZoomable2" onclick="hideDialog('dialog-image');" src="img/loading.gif">
        </div>
    </pinch-zoom>
</ons-dialog>